body{
    margin-left: 30px;
    background-color:bisque;
}
#header h1 {
    text-align: center;
}
img {
    transform: rotate(630deg);
    
}

#ordered li {
color: #bf4080;
font-family: Comic Sans MS;
font-size: 20px ;
}

table, th, td {
    border: 2px solid black;
}
strong {
    color: #660022;
    
    }

 h2 {
     text-align: justify;
     color: #802000;
 }   
 #unordered li {
     padding-bottom: 10px;
 }   